<launch>
	<arg name="uav1_name" default="uav1"/>
	<arg name="uav2_name" default="uav2"/>
	<arg name="uav3_name" default="uav3"/>
	<arg name="uav4_name" default="uav4"/>
	<arg name="uav5_name" default="uav5"/>

	<arg name="uav1_id" default="1"/>
	<arg name="uav2_id" default="2"/>
	<arg name="uav3_id" default="3"/>
	<arg name="uav4_id" default="4"/>
	<arg name="uav5_id" default="5"/>

	<!-- 40架无人机阵型控制交互节点 -->
	<node pkg="prometheus_mission" type="formation_flight_40uav" name="formation_flight_40uav" output="screen">
		<!-- 0代表位置追踪模式，１代表速度追踪模式，２代表加速度追踪模式  -->
		<param name="controller_num" value="0"/>
		<param name="virtual_leader_pos_x" value="0.0" />
		<param name="virtual_leader_pos_y" value="0.0" />
		<param name="virtual_leader_pos_z" value="1.0" />
		<param name="virtual_leader_yaw" value="0.0" />
		<param name="formation_size" value="1.0" />
	</node>

	<node pkg="prometheus_control" type="swarm_ground_station" name="swarm_ground_station" output="screen" launch-prefix="gnome-terminal --">
		<!-- 设置无人机名字才会在地面站显示 -->
		<param name="swarm_num" value="5" />
		<param name="uav1_name" value="/$(arg uav1_name)" />
		<param name="uav2_name" value="/$(arg uav2_name)" />
		<param name="uav3_name" value="/$(arg uav3_name)" />
		<param name="uav4_name" value="/$(arg uav4_name)" />
		<param name="uav5_name" value="/$(arg uav5_name)" />
		<param name="uav1_id" value="$(arg uav1_id)" />
		<param name="uav2_id" value="$(arg uav2_id)" />
		<param name="uav3_id" value="$(arg uav3_id)" />
		<param name="uav4_id" value="$(arg uav4_id)" />
		<param name="uav5_id" value="$(arg uav5_id)" />
	</node>

	<!-- run the rviz -->
	<arg name="visualization" default="true"/>
	<group if="$(arg visualization)">
		<node type="rviz" name="rviz" pkg="rviz" args="-d $(find prometheus_gazebo)/config/rviz_config/swarm_rviz_config.rviz" />
    </group>
</launch>

